<div class="max-w-4xl mx-auto space-y-12">
  <%= turbo_frame_tag "discover_book_clubs", src: discover_book_clubs_path, loading: :lazy do %>
    <%= render "home/discover_book_clubs_skeleton" %>
  <% end %>
</div>

<nav
  class="
    fixed bottom-0 left-0 z-50 w-full h-16 bg-surface border-t border-border
    sm:hidden pb-safe
  "
>
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
    <% main_navigation_items.each do |item| %>
      <% is_active = is_active_nav_item?(item) %>
      <%= link_to item[:path], class: "inline-flex flex-col items-center justify-center px-5 hover:bg-background group" do %>
        <svg
          class="w-6 h-6 mb-1 <%= is_active ? 'text-primary' : 'text-content-subtle group-hover:text-accent' %>"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <%= item[:icon].html_safe %>
        </svg>
        <span
          class="text-xs <%= is_active ? 'text-primary' : 'text-content-subtle group-hover:text-accent' %>"
        ><%= item[:name] %></span>
      <% end %>
    <% end %>
  </div>
</nav>
