<div class="relative min-h-[calc(100vh-8rem)]">
  <div class="flex items-center justify-between mb-3">
    <h1 class="title title-lg text-content font-bold">Book Clubs</h1>
  </div>

  <% if current_user %>
    <div role="tablist" class="tabs tabs-box mb-3">
      <%= link_to "My Clubs",
      book_clubs_path(filter: "my"),
      class: "grow tab #{"tab-active" if params[:filter] != "all"}" %>
      <%= link_to "All Clubs",
      book_clubs_path(filter: "all"),
      class: "grow tab #{"tab-active" if params[:filter] == "all"}" %>
    </div>
  <% end %>

  <div id="book_clubs_list" class="flex flex-col gap-6">
  </div>

  <div id="pagination_placeholder">
    <% if @has_next_page %>
      <%= turbo_frame_tag "book_clubs_page#{@next_page}", src: book_clubs_path(filter: params[:filter], format: :turbo_stream, page: @next_page), loading: :lazy do %>
        <%= render partial: "book_clubs/pagination_placeholder" %>
      <% end %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to new_book_club_path, class: "fixed bottom-24 right-8 w-14 h-14 bg-primary text-primary-contrast rounded-full flex items-center justify-center shadow-lg hover:bg-primary hover:scale-105 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary group z-50", aria: { label: "Create a new book club" } do %>
      <svg
        class="w-8 h-8 group-hover:rotate-90 transition-transform duration-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
    <% end %>
  <% end %>
</div>
