<div class="mb-12">
  <div class="max-w-3xl mx-auto text-center mb-8">
    <h1 class="title title-lg text-content font-extrabold tracking-tight mb-4"><%= t("discover_books") %></h1>
    <p class="text-lg text-content-subtle max-w-2xl mx-auto"><%= t("explore_books") %></p>
  </div>

  <div class="max-w-2xl mx-auto">
    <%= render partial: "books/search_bar" %>
  </div>
</div>

<% if @page.records.any? %>
  <div
    id="books_list"
    class="
      grid grid-cols-1 min-[450px]:grid-cols-2 md:grid-cols-3 lg:grid-cols-4
      xl:grid-cols-5 gap-6
    "
  >
    <%= render @page.records %>
  </div>

  <div id="pagination_placeholder">
    <% if @page.next_param %>
      <%= turbo_frame_tag "books_page_#{@page.next_param}", src: books_path(page: @page.next_param, format: :turbo_stream), loading: :lazy do %>
        <%= render partial: "books/pagination_placeholder" %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <div
    class="
      text-center py-24 bg-background rounded-2xl border-2 border-dashed border-border
    "
  >
    <div class="mx-auto h-24 w-24 text-content-muted">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        class="w-full h-full"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
        />
      </svg>
    </div>
    <h3 class="mt-4 text-lg font-semibold text-content"><%= t("no_books_found") %></h3>
  </div>
<% end %>
