<turbo-frame id="search_results">
  <div class="bg-surface border border-border rounded-2xl shadow-lg overflow-hidden">
    <% if @books.any? %>
      <% @books.each do |book| %>
        <% if book.persisted? %>
          <%= link_to book_path(book), class: "block no-underline", data: { turbo_frame: '_top' } do %>
            <%= render "books/search_result_content", book: book %>
          <% end %>
        <% else %>
          <%= form_with model: book, url: books_path, method: :post, data: { turbo_frame: "_top" }, class: "block" do |f| %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :author %>
            <%= f.hidden_field :description %>
            <%= f.hidden_field :cover_image %>
            <%= f.hidden_field :isbn %>
            <%= f.hidden_field :publisher %>
            <%= f.hidden_field :published_at %>
            <%= f.hidden_field :page_count %>
            <%= f.hidden_field :language %>
            <%= f.hidden_field :source %>

            <button type="submit" class="w-full text-left no-underline bg-transparent border-none p-0 cursor-pointer block">
              <%= render "books/search_result_content", book: book %>
            </button>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <div class="p-4 text-center text-content-subtle"><%= t("books.search.no_results") %></div>
    <% end %>
  </div>
</turbo-frame>
